/* header met logo en navigatie */
.bar {
	height: 0.5em;
	width:100%;
	background-color: #00cccc;
	margin: 0px 0px 0px 0px;
}

header {
	display: flex;
	padding:0.75em;
}

img#logo {
	width: 120px;
	height:100%;
	display: block;
	/* margin: 1em 10px 1em 70px; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

nav button#hetmenu {
	background-color: white;
 	border: none;
 	padding: 15px 0px 10px 0px;
  	text-align: left;
  	display: inline-block;
  	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
}

nav ul {
	margin:0; padding:4em 0 0;
 	background: white;
 	list-style: none;
	position: fixed;
	top: 0; right: 0; bottom: 0; left:0;
	height: 100%;
	transform: translatex(-100%);
	transition: 1s;
} 

nav.menuUitklappen ul {
  transform: translatex(0);
} 

li a {
	display:block;
	padding:1em 1em 1em 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: black;
	text-decoration: none;
}

/* een deel van deze CSS voor het hamburgermenu is afkomstig van oefening 3 van Media Queries 
   -> https://codepen.io/jennymatthijsen/pen/zYKrYyw */

/* body */
body {
	margin: 0px;
}

img#banner {
	width: 100%;
	height: 100%;
}

article#bovenste {
	margin: 20px; 
} 

h1 {
	font-family: 'Cormorant Garamond', serif;
	font-size:2.3em;
	margin: 0px;
}

p#opening {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	word-spacing: 0.05em;
}

button {
	background-color: white;
 	border-color: black;
 	border-width: 0.1em;
  	padding: 10px 30px 10px 30px;
  	text-align: center;
  	display: inline-block;
  	/* een deel van de CSS van button is afkomstig van W3Schools -> https://www.w3schools.com/css/css3_buttons.asp */
}

h2 {
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Cormorant Garamond', serif;
	font-size:2em;
	margin-left: 20px;
}

img.product {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	width: 200px;
	display: center;
	margin: auto;
	margin-top: 10px; 
}

article.producten {
	position: relative;
}

h4 {
	position: absolute;
	background-color: #DCECEC;
	font-family: 'Roboto', sans-serif;
	font-size:0.8em;
	padding: 2px;
	width: 25px;
	display: center;
	margin: auto;
	bottom: 60px;
	left: 100px;
}

button#gifts {
	display: block;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

button:hover {
	text-decoration: underline #00cccc;
} 

/* 2e pagina */

img#detailproduct{
	width: 100%;
}

h6 {
	font-family: 'Roboto', sans-serif;
	font-size:0.7em;
	margin-left:20px;
	margin-top: 5px;
}

h5{
	font-family:'Roboto', sans-serif;
	font-size:1em;
	margin:40px 0px 5px 20px;
	text-decoration: underline;

}

h3#naamproduct {
	font-family: 'Cormorant Garamond', serif;
	font-size:1.8em;
	display: left;
	margin-left: 20px;
}

/* de code om een animatie wanneer je hovert over de button te krijgen, is deels afkomstig van https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
/* code voor de hover animatie begin */

a#add{
	display: block;
  	width: 330px;
  	height: 50px;
  	line-height: 50px;
  	font-size: 16px;
  	font-family: 'Roboto', sans-serif;
  	text-decoration: none;
 	color: #ffffff;
 	background-color: black;
 	border: .5px solid black;
 	text-align: center;
 	position: relative;
  	transition: all .35s;
  	margin-left: 20px;
  	margin-top: 20px;
} 

/* door z-indek: 2 gaat de animatie naar de 2e rang waardoor de tekst 'add to bag' zichtbaar blijft */

a#add span{
  position: relative;
  z-index: 2;
} 

a#add:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00cccc;
  transition: all .35s;
}

a#add:active{
  color: #fff;
}

a#add:active:after{
  width: 100%;
} 

/* code voor de hover animatie einde */

button#afspraak {
	width: 330px;
	margin: 20px 20px 20px 20px;
	padding: 15px 0px 15px 0px;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}

p#details {
	font-family: 'Roboto', sans-serif;
	margin-left:20px;
	margin-right: 10px;
	line-height: 22px;
}

h2#more {
	margin-left: 20px;
}

/* media queries om de website responsive te maken naar verschillende schermgrootes. 
Ik heb gekozen voor 3 breakpoints: bij 30em, 50em en 80em. 
Vanaf deze breakpoints werd het design lelijk en moest daarom anders worden vormgegeven. */

/* media query vanaf 30em */
@media (min-width:30em) {
  	img#banner {
	    width: 25em;
		height: 26em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
  	}
	
	article#bovenste {
		margin: 50px; 
  	} 
	
  	img.product {
		width: 200px;
		height: 200px;
	}

	h2 {
	  	margin-bottom:30px;
	  	margin-left: 50px
  	}

	article.producten {
		position: relative;
	}

	h4 {
		position: absolute;
		bottom: 60px;
		left: 110px;
	}

	img#detailproduct{
		width: 25em;
		height: 26em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	h3#naamproduct {
		font-size: 2em;
	}

	p#details {
		line-height: 28px;
	}
}


/* media query vanaf 50em */
@media (min-width:50em) {
  	img#banner {
	    width: 30em;
		height: 32em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
  	}

  	p#opening {
  		font-size: 1.1em;
  	}

	article#bovenste {
		margin: 80px; 
		margin-bottom: 40px;
  	} 

 	h2 {
	  	margin-bottom:30px;
	  	margin-left: 80px
  	}

  	#productsection{
		display: flex;
		flex-direction: row;
		margin-left: 80px;
	}

	img.product {
		width: 200px;
		height: 200px;
	}

	button#gifts {
		margin-top: 50px;
	}

	article.producten {
		position: relative;
		margin-right: 70px;
	}

	h4 {
		position: absolute;
		bottom: 60px;
		left: 10px;
	}

	img#detailproduct{
		width: 30em;
		height: 32em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	img#detailproduct{
		width: 30em;
		height: 32em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	h3#naamproduct {
		font-size: 2em;

	}

	p#details {
		font-size: 1.2em;
		line-height: 35px;
	}

	a#add {
		width: 450px;
	}

	button#afspraak {
		width: 450px;
	}
}

/* media query vanaf 80em */
@media (min-width:80em) {
  img#banner {
	    width: 35em;
		height: 37em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
 	}

 	p#opening {
  		font-size: 1.2em;
  	}
  
  	article#bovenste {
		margin: 120px; 
		margin-bottom: 60px;
  	} 

  	h2 {
	  	margin-bottom: 40px;
	  	margin-left: 120px
	 }

	#productsection{
		display: flex;
		flex-direction: row;
		margin-left: 120px;
	}


	img.product {
		width: 250px;
		height: 250px;
	}

	button#gifts {
		margin-top: 70px;
	}

	article.producten {
		position: relative;
		margin-right: 60px;
	}

	h4 {
		position: absolute;
		bottom: 60px;
		left: 10px;
	}

	img#detailproduct{
		width: 35em;
		height: 37em;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}

	h3#naamproduct {
		font-size: 2.2em;
	}

	p#details {
		font-size: 1.2em;
		line-height: 35px;
	}

	a#add {
		width: 500px;
	}

	button#afspraak {
		width: 500px;
	}
}

/* 
	Tiffany & Co heeft een hele eigen kleur die bekend staat als: Tiffany Blue.
	De beste HEX code die ik hiervan kon vinden was:
	color: #00cccc;
*/


